---
layout: default
title: Samuel Alebachew
desc: My personal website for blogs, projects, and other information that you obviously care about.
nav: home
---
      <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome</h3>
      <p>My name is Samuel Alebachew, a software developer with interests spanning over distant subjects from stocks, inventions, outdoor activities, people/relationships, all STEM fields and especially (obviously) computer science.</p>
      <p>This is where I get to show people what I don't know, what I think I know, and what I have done with what I think I know. Surprisingly, you can do a lot with just that much &#x1f604;. This page is very new and I will be making several changes quite often. Thanks for stopping by! </p>

      <h3><a id="promoted-items" class="anchor" href="#promoted-items" aria-hidden="true"><span class="octicon octicon-link"></span></a>Promoted Items</h3>

      <ul class="rig">
      {% for post in site.posts %}
        {% if forloop.index <= 3  %}
          <li>
            <a href="{{ post.url }}">
              <img src="{{ post.imageUrl }}" />
              <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.description }}</p>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
