---
layout: default
title: Blogs
desc: Here are all my wonderful blogs. To get started, just scroll until you find a picture that catches your eye. Sometimes judging the book by its cover just works ;) 
nav: blog
---

      <h3><a id="blogs" class="anchor" href="#blogs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Thoughts & Ideas</h3>
      <p>You found my blogs! Unfortunately I haven't been able to write many blogs lately, but I will very soon. </p>
      <br></br>

    <ul class="rig">
    {% for post in site.posts %}
      {% if post.type == 'blog' %}
        <li>
          <a href="{{ post.url }}">
            <img src="{{ post.imageUrl }}" />
            <h3>{{ post.title }}</h3>
          </a>
          <p>{{ post.description }}</p>
        </li>
      {% endif %}
    {% endfor %}
